# Dependencias
node_modules/

# Archivos de entorno (variables secretas)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cachés
.cache/

# Compilados o builds (si algún día usas TypeScript o bundlers)
dist/
build/

# Configuración de editor
.vscode/
*.swp

# Archivos del sistema
.DS_Store
Thumbs.db
